.footer__rodape{
    /* border-style: solid; */
    font-weight: 200;
    color: #464646;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer__rodape--p{
    margin: .3rem;
}